/* General */
/* Variables */
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
  display: none;
}

/* JS Classes */
.hide {
  display: none;
}

body header {
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgba(172, 172, 172, 0.425);
}
body header nav div h1 {
  font-size: 100%;
  margin: 0;
  padding: 0;
}
body header nav div div {
  display: flex;
  justify-content: space-between;
}
body header nav div div section img {
  width: 30px;
  transition: 0.05s;
}
body header nav div div section img:hover {
  background-color: rgba(209, 209, 209, 0.281);
  padding: 3%;
  border-radius: 5%;
}
body header nav div div ul {
  list-style: none;
}
body header nav div div ul a {
  text-decoration: none;
}
body main img {
  width: 100%;
}

#stock {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#stock article {
  margin: 5%;
}
#stock article img {
  box-shadow: 0 0 20px rgba(172, 172, 172, 0.425);
  transition: 0.1s;
  width: 50%;
  display: block;
  margin: auto;
  padding: 3%;
  border: 4px solid rgb(194, 234, 242);
}
#stock article img:hover {
  border: 8px solid rgb(194, 234, 242);
}
#stock article p, #stock article h6 {
  margin: auto;
  margin-top: 1%;
  display: block;
  width: 80%;
  text-align: center;
}
#stock article .book-price {
  font-size: 95%;
}
#stock article button {
  background-color: rgb(194, 234, 242);
  transition: 0.1s;
  width: 30%;
  display: block;
  margin: 2% auto;
  border: 4px solid rgb(194, 234, 242);
}
#stock article button:active {
  background-color: transparent;
  border-color: transparent;
}

.divider {
  background-color: rgb(194, 234, 242);
  margin: 2%;
  padding: 1%;
  font-size: 110%;
}

.item-screen {
  width: 70%;
  height: 75%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.952);
  top: 15%;
  left: 15%;
  box-shadow: 0 0 100px white;
  border: rgba(209, 209, 209, 0.418) solid 1px;
}

#shopping-cart {
  width: 35%;
  height: 100%;
  position: fixed;
  background-color: rgb(255, 255, 255);
  right: 0;
  overflow: scroll;
  box-shadow: 0 0 20px rgba(172, 172, 172, 0.425);
  z-index: 1;
}
#shopping-cart article {
  margin: 1% 5%;
}
#shopping-cart article hr {
  margin: 3%;
}
#shopping-cart article p {
  text-align: center;
}
#shopping-cart .cross {
  width: 30px;
  margin-top: 3%;
  margin-left: 3%;
  margin-bottom: 0;
  transition: 0.05s;
}
#shopping-cart .cross:hover {
  background-color: rgba(209, 209, 209, 0.281);
  padding: 1%;
  border-radius: 5%;
}
#shopping-cart .trash-can {
  width: 30px;
  margin-top: 3%;
  margin-bottom: 0;
  transition: 0.05s;
  padding: 0.5%;
}
#shopping-cart .trash-can:hover {
  background-color: rgba(209, 209, 209, 0.281);
  padding: 1%;
  border-radius: 5%;
}
#shopping-cart h2 {
  text-align: center;
  font-size: 150%;
}

.shopping-cart-item {
  padding: 1%;
}

footer {
  background-color: rgb(194, 234, 242);
  margin-top: 1%;
  padding: 2%;
}
footer p {
  margin: 0;
  text-align: center;
}
footer p span {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
