body {
    header {
        position: sticky;
        top: 0;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 20px rgba(172, 172, 172, 0.425);
        nav {
            div {
                h1 {
                    font-size: 100%;
                    margin: 0;
                    padding: 0;
                }
                div {
                    display: flex;
                    justify-content: space-between;
                    section {
                        img {
                            width: 30px;
                            transition: 0.1s;
                            &:hover {
                                background-color: rgba(209, 209, 209, 0.281);
                                padding: 3px;
                                border-radius: 5px;
                            }
                        }
                    }
                    ul {
                        list-style: none;
                        a {
                            text-decoration: none;
                        }
                    }
                }
            }
            
            
        }
    }
    main {
        img {
            width: 100%;
        }
    }
}

