#stock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    article {
        margin: 5%;
        img {
            border-radius: 8px;
            box-shadow: 0 0 20px rgba(172, 172, 172, 0.425);
            transition: 0.1s;
            width: 50%;
            display: block;
            margin: auto;
            padding: 3%;
            border: 4px solid $lightblue;
            &:hover {
                border: 7px solid $lightblue;
            }
        }
        p, h6 {
            margin: auto;
            margin-top: 1%;
            display: block;
            width: 80%;
            text-align: center;
        }
        .book-price {
            font-size: 95%;
        }
        button {
            background-color: $lightblue;
            transition: 0.1s;
            width: 30%;
            display: block;
            margin: 2% auto;
            border: 4px solid $lightblue;
            border-radius: 8px;
            &:active {
                background-color: transparent;
                border-color: transparent;
            }
        }
    }
}

.divider {
    background-color: $lightblue;
    border-radius: 6px;
    margin: 2%;
    margin-bottom: 1.3%;
    padding: 1%;
    font-size: 110%;
}

.search {
    display: block;
    margin: auto;
    margin-bottom: 1%;
    width: 60%;
    border: none;
    border-bottom: 3px $lightblue solid;
    outline: none;
    padding: 0 0.5%;
    font-size: 105%;
}

.item-screen {
    width: 70%;
    height: 75%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.952);
    top: 15%;
    left: 15%;
    box-shadow: 0 0 100px white;
    border: rgba(209, 209, 209, 0.418) solid 1px;
}

@media screen and (max-width: 1100px){
    #stock {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 900px){
    #stock {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 600px){
    #stock {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 300px){
    #stock {
        grid-template-columns: 1fr;
    }
}